Flask
SQLAlchemy
requests
psycopg2-binary
Flask-Script
Flask-Restplus
gunicorn
celery
amqp
redis
Werkzeug==2.2.3 #should be removed from requirements when the issue with Flask_restpuls imports will be fixed
pytest
alembic
SQLALCHEMY_Utils